@font-face {
	font-family: 'Praxis';
	src: url("../public/assets/Praxis/PraxisLTPro-Heavy.woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url('../public/assets/Montserrat/montserrat-v26-cyrillic_latin-regular.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url('../public/assets/Montserrat//montserrat-v26-cyrillic_latin-500.woff2');
	font-weight: 500;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

button{
	cursor: pointer;
}

footer{
	background-color: #ECECEC;
	height: 240px;
	display: flex;
	padding: 40px 64px;
	flex-direction: column;
}

main{
	margin-bottom: 60px;
}

body::-webkit-scrollbar{
	background-color: transparent;
	width: 6px;
}

body::-webkit-scrollbar-thumb{
	background-color: black;
}